<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760097539696-1hqgltuqhtog0afjs5e3insklfo03r5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760097539696-1hqgltuqhtog0afjs5e3insklfo03r5l</string>
	<key>API_KEY</key>
	<string>AIzaSyA4wF3E8frh9o15R5KFlNr5SHw2X6_qMZA</string>
	<key>GCM_SENDER_ID</key>
	<string>760097539696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseClass</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-f5923</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-f5923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760097539696:ios:72dc77bdaaab02895f16b5</string>
</dict>
</plist>